$bg-color: #fff;
$text-color: black;
$bradius: 10px;
$secondary-text-color: rgb(97, 96, 96);
$bradius-cercle: 50%;

// Responsive
$mobile: 480px;
$tablet: 768px;
$desktop-sm: 1100px;
$desktop: 1400px;