.gallery {
  padding: 20px;
  column-count: 6;
  column-gap: 15px;
  margin-top: 10px;
}

@media (max-width: 1400px) {
  .gallery { column-count: 4; }
}

@media (max-width: 1100px) {
  .gallery { column-count: 3; }
}

@media (max-width: 768px) {
  .gallery { column-count: 2; }
}

@media (max-width: 480px) {
  .gallery { column-count: 1; }
}
