header{
    width: 100%;
    @extend %flex;

    img{
        height: 30px;
        cursor: pointer;
    }

    .menu-list{
        display: flex;
        gap: 18px;
        @extend %lists;
        padding-top: 5px;
        font-size: 24px;
    }
        .menu-list a{
            cursor: pointer;
            text-decoration: none;
            border-radius: 25px;
            padding: 8px 16px;
            color: $text-color;
            &:hover{
                @extend %hover-menu;
            }
        }

        .input-search{
            width: 100%;
            border: none;
            position: relative;
            top: 3px;
            background-color: #f0f0f0;
            border-radius: 25px;
            padding: 8px 15px;
            font-size: 16px;
        }

    .notification-nav{
        @extend %lists;
        gap: 12px;
        padding-top: 5px;

        i{
            font-size: 30px;
            cursor: pointer;
            padding: 8px;
            color: rgb(121, 121, 121);
        }

        li:last-child{
            @extend %flex;
        }

        .userIcon{
            background-color: lightgrey;
            border-radius: 20px;
            cursor: pointer;
            padding: 6px 12px;
            font-size: 18px;
            text-decoration: none;
            color: $secondary-text-color;
        }
    }
}

@media (max-width: 768px) {
  header {       
    .menu-list,.notifications, .comments  {
        display: none;
    }
  }
}